/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ADD8E6;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* LAYOUT CLASSES */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.content {
    height: 500px;
}

.content-longer {
    height: 600px;
}

.content-2x {
    height: 1000px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-16 {
    width: 16.6%;
}

.col-20 {
    width: 20%;
}

.col-33 {
    width: 33.3%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

/* CONTENTS' STYLE*/
.bg-lightblue {
    background-color: #ADD8E6;
}

.bg-gold {
    background-color: #DAA520;
}

.bg-darkblue {
    background-color: #00008B;
}

.bg-violet {
    background-color: #EE82EE;
}

.bg-white {
    background-color: #fff;
}

.bg-dodgerblue {
    background-color: #1E90FF;
}

.bg-pink {
    background-color: #FFC0CB;
}

.bg-lightgray {
    background-color: #D3D3D3;
}

.bg-forestgreen {
    background-color: #228B22;
}

.bg-darkturquoise {
    background-color: #23272A;
}

.bg-lightcoral {
    background-color: #F08080;
}

.bg-lightseagreen {
    background-color: #20b2aa;
}

.bg-aqua {
    background-color: #7FFFD4;
}

.py-20 {
    padding: 20px 0;
}

.py-10-20 {
    padding: 10px 0 20px 0;
}

.pt-20 {
    padding-top: 20px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.bord-dashed {
    border: 2px dashed black;
}

.bord-dashed-w {
    border: 2px dashed #fff;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

#login {
    text-align: right;
}

.col-60 li {
    display: inline-block;
    list-style-type: none;
}

ul {
    text-align: center;    
}