/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ADD8E6;
}

/* LAYOUT CLASSES */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 900px;
    margin: 0 auto;
}

.content {
    height: 400px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

.col-100 {
    width: 100%;
}

/* CONTENTS' STYLE*/
.bg-lightblue {
    background-color: #ADD8E6;
}

.bg-gold {
    background-color: #DAA520;
}

.bg-darkblue {
    background-color: #00008B;
}

.bg-violet {
    background-color: #EE82EE;
}

.p-10 {
    padding: 10px;
}

.p-30 {
    padding: 30px;
}

.bord-dashed {
    border: 2px dashed black;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

#login {
    text-align: right;
}

.col-60 li {
    display: inline-block;
    list-style-type: none;
}

ul {
    text-align: center;    
}